*{
    box-sizing: border-box;
}

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

@font-face {
    font-family: Roboto;
    src: url("Fonts/Roboto/Roboto-Regular.ttf")
}

body{
    font-family:Roboto;
    margin:0;
    color: white;
}

a:link,
a:visited{
    text-decoration: none;
    color: white
}

header{
    padding: 0.5em;
    padding-bottom: 1em
}

header p{
    color: gold;
}

header nav{
    display: flex;
    justify-content: space-evenly;
}

header a:link,
header a:visited{
    color: rgb(202, 202, 202)
}

main article a:link, main article a:visited{
    color:rgb(0, 0, 0);
    text-decoration: underline;
}

header{
    background-color:rgb(75, 132, 255);
    text-align:center;
}

.innerlinks{
    display:flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(75, 132, 255), rgb(8, 82, 241));
    gap: 0.1em;
}

.innerlinks div{
    border: white 1px;
    border-bottom-style: solid;
    width:100%;
    text-align: center;
    padding-bottom:0.4em;
    padding-top:0.4em
}

main{
    background: linear-gradient(rgb(226, 206, 27), rgb(185, 159, 11));
}

main article{
    padding:0.7em
}

main section{
    margin-bottom: 2.7em;
}

footer{
    background: linear-gradient(rgb(15, 83, 230), rgb(21, 63, 155));
    padding-top: 0.5em;
    padding-bottom: 0em;
    margin-bottom:-5em
}

.footbottom{
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

footer h4{
    text-align: center;
    margin-bottom: -0.5em
}

footer div{
    margin-left: auto;
    margin-right: auto;
    width: 12em;
    padding-top:0.1em
}

footer dd{
    margin-bottom: 1em
}

footer ul{
    list-style: none;
    line-height: 2.2em
}

footer a:link, footer a:visited{
    color: rgb(95, 207, 241);
    text-decoration: none;
}

.homepagebutton{
    size: 1em;
    position:fixed;
    border: none;
    color:white;
    padding: 0em  0.3em;
    font-size: 2em;
    background-color:rgba(202, 202, 202, 0.678);
    border-radius: 100%;
    bottom:0.5em;
    right: 0.5em;
    text-align: center;
    display:inline
}

@media only screen and (min-width:37.5em){
    .textfloat{
        display:grid;
        grid-auto-flow:row;
        grid-template-columns: 1fr 1fr;
        padding: 0;
        margin: 0;
        margin-top:-1em;
        column-gap:1em;
        justify-items: flex-start;
        align-items:center;
        margin-bottom:1em;
    }

    .textfloat p{
        margin-bottom: 0.2em;
    }

    footer div.wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-left: 1em;
        padding-right: 1em;
    }

    footer div{
        margin: 0em;
        width: auto
    }
}

@media only screen and (min-width:48em){
    header div.wrapper{
        display:flex;
        justify-content:space-evenly;
        align-items:flex-end;
        justify-items:flex-end;
        margin-top: 3em;
        margin-bottom: -1em;
        text-transform:uppercase;
    }

    header nav{
        gap:4em;
    }

    header h1{
        width:50%;
        padding:0;
        margin: 0;
        font-size:3em;
        text-align:left;
    }

    header nav div{
        font-size: 1.5em;
    }

    header p{
        text-align:right;
        margin-top: 0;
        color:gold
    }
    header a:link,
    header a:visited{
        color:white;
    }

    .innerlinks{
        padding-top: 0.6em;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        background: none;
        gap: 0;
        
    }
    
    .innerlinks div{
        border: white 1px solid;
        width:auto;
        text-align: center;
        padding: 0em auto;
        background: linear-gradient(rgb(75, 132, 255), rgb(8, 82, 241));
        flex-grow: 7;
    }

    .highgrow{
        flex-grow: 20;
    }
}

@media only screen and (min-width: 60em){
    .wrapper{
        width:60em;
        margin-left: auto;
        margin-right: auto;
    }
}