*{
    box-sizing: border-box;
}

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

@font-face{
  font-family:'Silkscreen';
  src:url("../../Fonts/Silkscreen/Silkscreen-Regular.ttf")
}

body{
    margin: 0;
}

header{
    background: linear-gradient(#9a27c7, #240a2c);
    padding: 1em 0em;
}

header img{
    margin-left: auto;
    margin-right: auto;
    display:block;
    width: 22em;
    height: auto;
}

ul.navlist{
    display:grid;
    grid-template-columns: 1fr;
    justify-items:stretch;
    padding: 0;
    margin: 0;
}

ul.navlist li{
   list-style: none;
   border: rgb(32, 0, 32) 4px solid;
   background-color: #a95dff;
   text-align: center;
   font-family:"Silkscreen";
}

main{
    padding: 1px;
    background-color: #c6b3db;
}

blockquote{
  border: 3px rgb(129, 110, 0) solid;
  text-align: center;
  background-color: #ba9718;
  color: rgb(255, 232, 102);
}

div.fontcap{
  float:left;
  font-size:3em;
  padding: 0em 0.2em;
  margin-top: -3px;
}

main p{

}

main hr{
  width: 90%;
}